<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Latest Tech News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Latest Tech News</h1>
    <div class="row mt-4">
        <div class="col-md-4" th:each="article : ${articles}">
            <div class="card mb-4">
                <img th:src="${article.urlToImage}" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${article.title}">Article Title</h5>
                    <p class="card-text" th:text="${article.description}">Article Description</p>
                    <!-- Redirect to full article -->
                    <!--<a th:href="@{/news/{url}(url=${article.url})}" class="btn btn-primary" target="_blank">Read More</a>-->
                   <!-- <a th:href="@{/news/{url}(url=${#httpServletRequest.getRequestURI().replace('${article.url}', '${#httpServletRequest.getParameter('url')|urlEncode}')})}" class="btn btn-primary" target="_blank">Read More</a>-->
                    <a th:href="${article.url}" class="btn btn-primary" target="_blank">Read More</a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
